/* TODO: design your profile with CSS */
<style>
/*@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');*/

body {
  font-family: serif;
  background-color: #424C55;
}

h1 {
  color: #171A21;
  font-family: serif;
}

h2 {
  color: #7A93AC;
  font-family: serif;
}

h3 {
  font-size: 1rem;
  font-family: serif;
}

a {
  text-decoration: none;
}

/*ul {
  list-style: none;
}*/

.card-white {
 background-color: rgb(255, 255, 255);
 border-radius: 4px;
 width: 80%;
 padding: 30px 50px;
 text-align: center;
 box-shadow: 0px 10px 30px rgba(0, 0,0, 0.1);
 margin: 50px auto;
}

#logo {
  width: 100px;
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding: 0px;
}

.list-inline li {
  display: inline-block;
}

.social-icon {
  font-size: 32px;
  color: darkgray;
  margin: 24px;
}

.social-icon:hover {
  color: lightgray;
}

/*Optomizeration*/

@media only screen and (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card-white {
    width: 600px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card-white  {
    width: 400px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card-white  {
    width: 250px;
  }
}
